.All1{
    position: relative;
}

.form-holder {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    min-height:100vh;
    }
.form-holder .form-content {
  
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}
.form-itemss{
  background-color: #ffffff;
    border: 3px solid #0aad0a;
    position: absolute;
    bottom: -250px;
    padding: 100px;
    display: inline-block;
    width: 100%;
    min-width: 620px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}

.form-content .form-items {
  background-color: #ffffff;
    border: 3px solid #0aad0a;
    position: absolute;
    bottom: -150px;
    padding: 100px;
    display: inline-block;
    width: 100%;
    min-width: 620px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #0aad0a;
    text-align: left;
    font-size: 28px;
    font-weight: 1000;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}
.btnn{
    background-color: #0aad0a;
    color: #0aad0a;
}
.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #090000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;

  }